logs/*
results/*
pickles/*
*__pycache__*
models/*
*/srunner/*
*/__pycache__/*
*models/*.pt
*nohup*
model_collection/**/logs/*
model_collection/**/*.pkl
model_collection/**/*.json

!.gitignore
!results/results.txt
!logs/log.txt
!pickles/pickles.txt
!scripts/scripts.txt